:root {
  --ion-background-color: #F9FAF9;
  --ion-color-primary: #1B5E20;
  --ion-color-secondary: #A8E6CF;
  --ion-color-warning: #FFB300;

  --radius: 20px;
  --shadow: 0 8px 24px rgba(0,0,0,.08);
}
